<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Cinestar1</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="fonts/font-awesome.min.css">
    <link rel="stylesheet" href="css/Pretty-Footer1.css">
    <link rel="stylesheet" href="css/styles1.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md">
        <div class="container-fluid"><a class="navbar-brand" href="#"><img id="logo" src="img/logo.jpeg"></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="#">Cartelera</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Sedes</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Tarifario</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Registrarse</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Ingresar</a></li>
                </ul>
        </div>
        </div>
    </nav>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-lg-5 col-xl-4">
                    <h2>Asientos</h2>
                    <div class="form-group"><label>Película:&nbsp;</label>
                        <div><input type="text" id="nombrePelicula" readonly=""></div>
                    </div>
                    <div class="form-group"><label>Asiento(s):&nbsp;</label>
                        <div><input type="text" id="nombrePelicula-2" readonly=""></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3"><label class="col-form-label">Adulto(s)</label></div>
                        <div class="col"><input class="form-control-sm" type="number" id="cantAdultos"></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3"><label class="col-form-label">Niño(s)</label></div>
                        <div class="col"><input class="form-control-sm" type="number" id="cantNi"></div>
                    </div>
                    <div class="row" id="PieRow">
                        <div class="col-lg-3"><label class="col-form-label">+60</label></div>
                        <div class="col"><input class="form-control-sm" type="number" id="cantMay"></div>
                    </div>
                    <div class="form-group"><label>Total Asiento(s):&nbsp;</label>
                        <div><input type="text" id="nombrePelicula-1" readonly=""></div>
                    </div>
                </div>
                <div class="col" id="filaF">
                    <div class="row justify-content-center">
                        <div class="col-sm-11">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr></tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-center"><button class="btn btn-primary bg-danger border-dark" type="button">F1</button></td>
                                            <td class="text-center"><button class="btn btn-primary bg-danger border-dark" type="button">F2</button></td>
                                            <td class="text-center"><button class="btn btn-primary bg-danger border-dark" type="button">F3</button></td>
                                            <td class="text-center"><button class="btn btn-primary bg-danger border-dark" type="button">F4</button></td>
                                            <td class="text-center"><button class="btn btn-primary bg-danger border-dark" type="button">F5</button></td>
                                        </tr>
                                        <tr>
                                            <td class="text-center"><button class="btn btn-primary bg-danger border-dark" type="button">E1</button></td>
                                            <td class="text-center"><button class="btn btn-primary bg-danger border-dark" type="button">E2</button></td>
                                            <td class="text-center"><button class="btn btn-primary bg-danger border-dark" type="button">E3</button></td>
                                            <td class="text-center"><button class="btn btn-primary bg-danger border-dark" type="button">E4</button></td>
                                            <td class="text-center"><button class="btn btn-primary bg-danger border-dark" type="button">E5</button></td>
                                        </tr>
                                        <tr>
                                            <td class="text-center"><button class="btn btn-primary bg-danger border-dark" type="button">D1</button></td>
                                            <td class="text-center"><button class="btn btn-primary bg-danger border-dark" type="button">D2</button></td>
                                            <td class="text-center"><button class="btn btn-primary bg-danger border-dark" type="button">D3</button></td>
                                            <td class="text-center"><button class="btn btn-primary bg-danger border-dark" type="button">D4</button></td>
                                            <td class="text-center"><button class="btn btn-primary bg-danger border-dark" type="button">D5</button></td>
                                        </tr>
                                        <tr>
                                            <td class="text-center"><button class="btn btn-primary bg-danger border-dark" type="button">C1</button></td>
                                            <td class="text-center"><button class="btn btn-primary bg-danger border-dark" type="button">C2</button></td>
                                            <td class="text-center"><button class="btn btn-primary bg-danger border-dark" type="button">C3</button></td>
                                            <td class="text-center"><button class="btn btn-primary bg-danger border-dark" type="button">C4</button></td>
                                            <td class="text-center"><button class="btn btn-primary bg-danger border-dark" type="button">C5</button></td>
                                        </tr>
                                        <tr>
                                            <td class="text-center"><button class="btn btn-primary bg-danger border-dark" type="button">B1</button></td>
                                            <td class="text-center"><button class="btn btn-primary bg-danger border-dark" type="button">B2</button></td>
                                            <td class="text-center"><button class="btn btn-primary bg-danger border-dark" type="button">B3</button></td>
                                            <td class="text-center"><button class="btn btn-primary bg-danger border-dark" type="button">B4</button></td>
                                            <td class="text-center"><button class="btn btn-primary bg-danger border-dark" type="button">B5</button></td>
                                        </tr>
                                        <tr>
                                            <td class="text-center"><button class="btn btn-primary bg-danger border-dark" type="button">A1</button></td>
                                            <td class="text-center"><button class="btn btn-primary bg-danger border-dark" type="button">A2</button></td>
                                            <td class="text-center"><button class="btn btn-primary bg-danger border-dark" type="button">A3</button></td>
                                            <td class="text-center"><button class="btn btn-primary bg-danger border-dark" type="button">A4</button></td>
                                            <td class="text-center"><button class="btn btn-primary text-white bg-danger border-dark" type="button">A5</button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <h2 class="text-center" id="pantalla">PANTALLA</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="opcion">
        <div class="container" id="botones">
            <div class="row">
                <div class="col text-center" id="botcan"><button class="btn btn-secondary" id="cancelar" type="button">Cancelar</button></div>
                <div class="col text-center" id="botsig"><button class="btn btn-secondary" id="siguiente" type="button">Siguiente</button></div>
            </div>
        </div>
    </div>
    <footer>
        <div class="row">
            <div class="col-sm-6 col-md-5 text-center footer-navigation">
                <h3 class="display-4 text-dark"><a href="#">Cine<span>Star</span></a></h3>
                <p class="text-dark links"><a class="text-dark" href="index.html">Cartelera</a><strong> · </strong><a class="text-dark" href="#">Sedes</a><strong> · </strong><a class="text-dark" href="Tarifario.html">Tarifario</a><strong>&nbsp;</strong></p>
                <p class="company-name">CineStar © 2020</p>
            </div>
            <div class="col-sm-6 col-md-4 text-justify footer-contacts">
                <div><span class="fa fa-map-marker footer-contacts-icon"> </span>
                    <p class="text-dark">Lima, Perú</p>
                </div>
                <div><i class="fa fa-mobile-phone footer-contacts-icon"></i>
                    <p class="text-dark footer-center-info email text-left"> +51 999 867 654</p>
                </div>
                <div><i class="fa fa-envelope footer-contacts-icon"></i>
                    <p> <a href="#" target="_blank">cinestar@company.com</a></p>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-3 text-center footer-about">
                <h4 class="text-danger">About us...</h4>
                <div class="social-links social-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
            </div>
        </div>
    </footer>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>