<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Cinestar</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/Highlight-Phone.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="assets/css/Pretty-Footer.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md">
        <div class="container-fluid"><a class="navbar-brand" href="#"><img id="logo" src="assets/img/logo.jpeg"></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="/login.html">Cartelera</a></li>
                    <li class="nav-item"><a class="nav-link" href="/sedes.html">Sedes</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Tarifario</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Registrarse</a></li>
                    <li class="nav-item"><a class="nav-link" href="/login.html">Ingresar</a></li>
                </ul>
        </div>
        </div>
    </nav>
    <div class="col">
        <h1 class="text-center">Funciones&nbsp;<i class="fa fa-film" id="logo_film"></i></h1>
    </div>
    <div class="container" style="padding: 20px 15px;border-color: rgb(242, 241, 239);">
        <div class="col-md-12 col-lg-8 offset-md-0 offset-lg-2">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th style="text-align: left;">Película</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="text-align: center;">NombrePelicula</td>
                        </tr>
                        <tr></tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-12 col-lg-8 offset-md-0 offset-lg-2">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th style="text-align: left;">Horarios:</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="text-align: center;">Horario1</td>
                        </tr>
                        <tr></tr>
                        <tr>
                            <td style="text-align: center;">Horario2</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-12 col-lg-8 offset-md-0 offset-lg-2">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th style="text-align: left;">Salas:</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="text-align: center;">Sala1</td>
                        </tr>
                        <tr></tr>
                        <tr>
                            <td class="text-center">Sala2</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <footer>
        <div class="row">
            <div class="col-sm-6 col-md-4 footer-navigation">
                <h3><a href="#">Cine<span>Star</span></a></h3>
                <p class="links"><a href="#">Cartelera</a><strong> · </strong><a href="#">Sedes</a><strong> · </strong><a href="#">Tarifario</a><strong>&nbsp;</strong></p>
                <p class="company-name">CineStar © 2020</p>
            </div>
            <div class="col-sm-6 col-md-4 footer-contacts">
                <div><span class="fa fa-map-marker footer-contacts-icon"> </span>
                    <p>Lima, Perú</p>
                </div>
                <div><i class="fa fa-mobile-phone footer-contacts-icon"></i>
                    <p class="footer-center-info email text-left"> +51 999 867 654</p>
                </div>
                <div><i class="fa fa-envelope footer-contacts-icon"></i>
                    <p> <a href="#" target="_blank">cinestar@company.com</a></p>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4 footer-about">
                <h4>About us...</h4>
                <div class="social-links social-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
            </div>
        </div>
    </footer>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>