<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Cinestar</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/fonts/ionicons.min.css">
    <link rel="stylesheet" href="/css/Highlight-Phone.css">
    <link rel="stylesheet" href="/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="/css/Pretty-Footer.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md">
        <div class="container-fluid"><a class="navbar-brand" href="#"><img id="logo" src="/img/logo.jpeg"></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="index.html">Cartelera</a></li>
                    <li class="nav-item"><a class="nav-link active" href="/sedes.html">Sedes</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Tarifario</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Registrarse</a></li>
                    <li class="nav-item"><a class="nav-link" href="/login.html">Ingresar</a></li>
                </ul>
        </div>
        </div>
    </nav>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-5 offset-0">
                <h1>Sedes&nbsp;<img id="claqueta" src="/img/claqueta.jpg"></h1>
            </div>
            <div class="col-md-auto d-inline float-right ml-auto">
                <div class="dropdown bg-light border rounded-0 shadow-sm d-inline-flex flex-shrink-0"><button class="btn btn-primary dropdown-toggle bg-secondary border-primary shadow-sm" data-toggle="dropdown" aria-expanded="false" type="button">Géneros</button>
                    <div class="dropdown-menu"><a class="dropdown-item" href="#">Acción</a><a class="dropdown-item" href="#">Comedia</a><a class="dropdown-item" href="#">Terror</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="highlight-phone">
        <div class="container">
            <div class="row Aviacion">
                <div class="col-md-7 offset-md-0">
                    <div class="intro">
                        <h2>Aviación</h2>
                        <p>Dirección:<br>Calle Tiziano 100 Alt. Cuadra 24 de la Av. Aviación<br></p><a class="btn btn-primary" role="button" href="#">Ver películas</a></div>
                </div>
                <div class="col text-center align-self-center"><img src="/img/fachada_aviacion.jpg" style="height: 190px;"></div>
            </div>
            <div class="row Aviacion">
                <div class="col-md-7 offset-md-0">
                    <div class="intro">
                        <h2 style="margin: 45px 0px 35px;">Chorrillos</h2>
                        <p>Dirección:<br>Av. Guardia Civil con Av. Guardia Peruana - Chorrillos<br></p><a class="btn btn-primary" role="button" href="#">Ver películas</a></div>
                </div>
                <div class="col text-center align-self-center"><img src="/img/fachada_chorrillos.jpg" style="height: 190px;"></div>
            </div>
        </div>
    </div>
    <footer>
        <div class="row">
            <div class="col-sm-6 col-md-4 footer-navigation">
                <h3><a href="#">Cine<span>Star</span></a></h3>
                <p class="links"><a href="#">Cartelera</a><strong> · </strong><a href="#">Sedes</a><strong> · </strong><a href="#">Tarifario</a><strong>&nbsp;</strong></p>
                <p class="company-name">CineStar © 2020</p>
            </div>
            <div class="col-sm-6 col-md-4 footer-contacts">
                <div><span class="fa fa-map-marker footer-contacts-icon"> </span>
                    <p>Lima, Perú</p>
                </div>
                <div><i class="fa fa-mobile-phone footer-contacts-icon"></i>
                    <p class="footer-center-info email text-left"> +51 999 867 654</p>
                </div>
                <div><i class="fa fa-envelope footer-contacts-icon"></i>
                    <p> <a href="#" target="_blank">cinestar@company.com</a></p>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4 footer-about">
                <h4>About us...</h4>
                <div class="social-links social-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
            </div>
        </div>
    </footer>
    <script src="/js/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>