<ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" ><a class="nav-link" href="/index">Cartelera</a></li>
                    <li class="nav-item"><a class="nav-link" href="/sedes">Sedes</a></li>
                    <li class="nav-item"><a class="nav-link" href="/tarifario">Tarifario</a></li>
                     <li class="nav-item"><a class="nav-link" href="/perfil">Perfil</a></li>
                    <li class="nav-item"><a class="nav-link" href="/cine">Nosotros</a></li>
</ul>
